.portfolio__card__bgcolor {
  background-color: wheat;
  width: 25%;
  padding: 20px 35px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.portfolio__card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__card__header {
  display: flex;
  align-items: center;
}
.portfolio__card__title {
  margin-left: 0.3rem;
  align-items: center;
}
.portfolio__card__image {
  margin-top: 1rem;
}

.framwork__name {
  font-size: 12px;
}
.tech__name {
  font-size: 8px;
}
.portfolio__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.portfolio__card__footer__link {
  display: flex;
  gap: 0.5rem;
}
